
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
}
<style>
    .Name {
        width: 386px;
        border-bottom: 2px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 10px;
    }

    .Category {
        width: 386px;
        border-bottom: 2px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .Price {
        width: 386px;
        border-bottom: 2px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .Img {
        width: 386px;
        border-bottom: 2px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .Description {
        width: 386px;
        border-bottom: 2px solid #2C2A2A;
        height: 239px;
        border-radius: 13px;
        background: none;
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    form {
        background: none;
    }

    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        background: none;
        color: #2C2A2A;
    }

    h2::after {
            content: '';
            bottom: 0;
            width: 92px;
            height: 3px;
            background: #2C2A2A;
            display: block;
    }


    .btn-add {
        width: 175px;
        height: 44px;
        border: none;
        border-radius: 22px;
        background: #373434;
        margin-top: 10px;
        color: white;
        cursor: pointer;
    }

    option {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .righside {
        width: 822px;
        height: 623px;
        background: white;
        border-radius: 21px;
        position: absolute;
        top: 11px;
        right: 12px;
    }

    .headtable {
        padding: 0px;
        width: 797px;
        border-radius: 8px;
        padding: 0;
        background: #EBABAB;
    }

    .headtable2 {
        padding: 0px;
    }


    .bodytable {
        width: 797px;
        height: 540px;
        background: white;
        margin-top: 5px;
        border-radius: 8px;
        padding: 0;
        overflow: scroll;
        overflow-x: hidden;
    }



    .btn-Del {
        background: #EBABAB;
        border-radius: 5px;
        padding: 0px;
        color: black;
        cursor: pointer;
        height: 38px;
        width: 38px;
        border: none;
        transition: 0.5s;
        margin-right: 10px;
    }

    .btn-Del:hover {
            background: #f17777;
    }

    img {
        padding: 0px;
    }

    .btn-Edit {
        background: #EBABAB;
        border-radius: 5px;
        padding: 0px;
        color: black;
        cursor: pointer;
        height: 38px;
        width: 38px;
        border: none;
        transition: 0.5s;
    }

    .btn-Edit:hover {
            background: #f17777;
    }

    .tablerow {
        background: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        transition: 0.5s;
        padding: 0px;
        left: 0px;
        text-align: left;
    }

    .tablerow:hover {
        background: #FFDFDF;
        cursor: pointer;
    }

    .tablerow {
        margin-top: 10px;
        text-align: left;
    }

    .tablerow tr td {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 13px;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background: lightblue;
    }

    ::-webkit-scrollbar-thumb {
        background: #EBABAB;
        border-radius: 20px;
        height: 100px;
    }

    ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to right, #1093ff, #83d1e9);
    }
</style>
<h2>Product</h2>
<form>
    <input type="text" class="Name" name="Name" placeholder="Name" value="" />
    <br />
    <select class="Category" name="Category" id="Category">
        <option value="Pay">Category</option>
        <option value="Free">Free</option>
        <option value="Free">Pay</option>
    </select>
    <br />
    <input class="Price" type="text" name="Price" placeholder="Price" value="" />
    <br />
    <input class="Img" type="file" name="Img" value="" />
    <br />
    <textarea class="Description" placeholder="Description"></textarea>
    <br />
    <input class="btn-add" type="submit" value="Add Product" />
</form>
<div class="righside">
    <div class="headtable">
        <table class="headtable2" style="width:100%">
            <tr>
                <td style="max-width:40px;">Name</td>
                <td style="max-width:51px;">Category</td>
                <td style="max-width:60px;">Price</td>
                <td style="max-width:58px;">Img</td>
                <td style="max-width:100px;">Description</td>
                <td style="max-width:60px;">Action</td>
            </tr>
        </table>
    </div>
    <div class="bodytable">
        <table class="tablerow" style="width:100%">
            <tr>
                <td style="max-width:40px;">Bàn Phím Cơ</td>
                <td style="max-width:51px;">Phụ Kiện</td>
                <td style="max-width:55px;">2.000.000</td>
                <td style="max-width:58px;"><img src="#" alt="Alternate Text"/></td>
                <td style="max-width:100px;">Gõ Phê Vãi Lồn</td>
                <td style="max-width:60px;"><button class="btn-Del"><img width="20" src="~/Areas/Admin/Upload/Icon/icondelete.ico" alt="Alternate Text" /></button><button class="btn-Edit"><img width="20" src="~/Areas/Admin/Upload/Icon/iconedit.ico" alt="Alternate Text" /></button></td>
            </tr>
        </table>
    </div>
</div>


