<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
</head>
<body>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .navbar {
            display: flex;
            align-items: center;
            padding: 20px;
        }

        nav {
            flex: 1;
            text-align: right;
        }

        nav ul {
            display: inline-block;
            list-style-type: none;
            font-family: 'Source Sans Pro', sans-serif;
        }

        nav ul li {
             display: inline-block;
             margin-right: 20px;
             font-family: 'Source Sans Pro', sans-serif;
             font-weight:700;
        }

        nav ul li::after {
             content: '';
             display: block;
             background: #c53c7c;
             width: 0%;
             height: 2px;
             margin: auto;
             border-radius: 1px;
             transition: 0.5s;
        }

        nav ul li:hover::after {
             width: 100%;
        }

        a {
            text-decoration: none;
            color: #555;
        }

        p {
            color: #555;
        }

        .container {
            max-width: 1300px;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }
        

        .row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .col-2 {
            flex-basis: 50%;
            min-width: 300px;
        }

        .col-2 img {
            max-width: 100%;
            padding: 50px 0;
        }

        .col-2 h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 25px;
        }

        .logo {
            transition: transform 0.5s;
        }

        .logo:hover {
            transform: scale(0.9);
        }

        .btn {
            display: inline-block;
            background: #c53c7c;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            transition: background 0.5s;
        }

        .btn:hover {
            background: #563434;
        }

        .header {
            background: radial-gradient(#fff,#FFDFDF);
        }

        .header .row {
            margin-top: 70px;
        }

        .categories {
            margin: 70px 0;
        }

        .col-3 {
            flex-basis: 30%;
            min-width: 250px;
            margin-bottom: 30px;
            transition: transform 0.5s;
        }

        .col-3 img {
            width: 100%;
            height: 500px;
        }

        .small-container {
            max-width: 1080px;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .col-4 {
            flex-basis: 25%;
            padding: 10px;
            min-width: 200px;
            margin-bottom: 50px;
            transition: transform 0.5s;
        }

            .col-4 img {
                width: 100%;
                height: 400px;
            }

        .rating {
            color: #ff3116;
        }

        .titleofbook {
            text-align: center;
            margin: 0 auto 80px;
            position: relative;
            line-height: 60px;
            color: #555;
        }

            .titleofbook::after {
                content: '';
                background: #b6ff00;
                width: 80px;
                height: 5px;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

        .col-4 p {
            font-size: 14px;
            font-weight: 800;
            color: #555;
        }

        h4 {
            color: #555;
        }

        .col-3:hover {
            transform: scale(0.99);
        }

        .col-4:hover {
            transform: translateY(-5px);
        }

        .offer {
            background: radial-gradient(#fff,#FFDFDF);
            margin-top: 80px;
            padding: 30px 0;
        }

        .col-2 .offer-img {
            padding: 50px;
        }

        small {
            font-size: 14px;
            font-weight: 800;
            color: #555;
        }

        .footer {
            background: #2C2A2A;
            color: #8a8a8a;
            font-size: 14px;
            padding: 60px 0 20px;
        }

            .footer p {
                color: #8a8a8a;
                font-family: 'Source Sans Pro', sans-serif;
            }

            .footer h3 {
                color: #fff;
                margin-bottom: 20px;
                font-family: 'Source Sans Pro', sans-serif;
            }

            .footer ul li {
                list-style-type: none;
                font-family: 'Source Sans Pro', sans-serif;
            }

        .footer-col-1, .footer-col-2, .footer-col-3 {
            min-width: 250px;
            margin-bottom: 20px;
        }

        .footer-col-1 {
            flex-basis: 30%;
            text-align: center;
        }

        .footer-col-2 {
            text-align: center;
        }

        .footer-col-3 {
            text-align: center;
            flex-basis: 12%
        }

        .android {
            transition: transform 0.5s;
        }

            .android:hover {
                transform: scale(0.95);
            }

        .copyright {
            margin-left: 594px;
            font-size: 14px;
            font-weight: 800;
        }

        .menu-icon {
            width: 30px;
            margin-left: 20px;
            display: none;
        }

        .cart:hover {
            cursor: pointer;
            border: 2px solid #c53c7c;
            border-radius: 5px;
            transform: scale(0.9);
        }
        .row h1 {
            font-family: 'Source Sans Pro', sans-serif;
        }
        .row p {
            font-family: 'Source Sans Pro', sans-serif;
        }
        .col-2 p {
            margin-left: 27px;
        }
        .col-2 a {
            margin-left: 27px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .col-2 small {
            margin-left: 25px;
        }
    </style>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo"  onclick="playsound();">
                    <img src="~/Areas/User/Upload/Icon/LOGOCHOSCOR.png" width="90" height="90" />
                    <audio id="angang" preload="auto">
                        <source src="~/Areas/User/Upload/Sound/angang.mp3">
                    </audio>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="#">Home</a></li>
                        @*@if (Session["Login"] != null)
                            {
                                <li><a href="@Url.Action("Logout")">Logout</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Login")">Login</a></li>
                            }*@
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </nav>
                <img src="~/Areas/User/Upload/Icon/cart.png" width="40" height="30" alt="" class="cart" />
                <img src="~/Areas/User/Upload/Icon/menu.png" width="25" class="menu-icon" onclick="menutoggle()" alt="" />
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Super Premium <br /> Gaming <br /> We Make IT Happen!</h1>
                    <p>
                        Digitally Yours. <br /> The Future of Memory. It’s premium.
                    </p>
                    <a href="" class="btn">SEE MORE &#10141;</a>
                </div>
                <div class="col-2">
                    <img src="~/Areas/User/Upload/Image/JonsboMOD3Pink.png" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody();
    </div>
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="~/Areas/User/Upload/Image/RX2070.png" class="offer-img" />
                </div>
                <div class="col-2">
                    <p>We’re not just expensive, we’re very expensive.</p>
                    <h1>RX2070</h1>
                    <small>
                        Chiến game bao ngon ! Chiến max setting những game mới ra 2021.
                    </small>
                    <a href="" class="btn">SEE MORE &#10141;</a>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Owner App</h3>
                    <p>Download for Android</p>
                    <br />
                    <img src="~/Areas/User/Upload/Icon/android.png" height="60" class="android" alt="" />
                </div>
                <div class="footer-col-2">
                    <img src="~/Areas/User/Upload/Icon/LOGOCHOSCOR2.png" width="160" alt="" />
                    <p>Our aim is to give you a more enjoyable life </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Technology World</li>
                        <li>Fanpage Technology</li>
                        <li>Blog Post</li>
                        <li>Facebook</li>
                    </ul>
                </div>
            </div>
            <hr />
            <br />
            <p class="copyright">&copy; 2023 - QuhuIceCream.</p>
        </div>
    </div>
    <script>
        function playsound() {
            var audio = document.getElementsByTagName("audio")[0];
            audio.play();
        }
    </script>

</body>
</html>
